@page
@using Achiever.Common.Model
@using Achiever.Model
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@model Achiever.Pages.RecordsModel
@{
    ViewData["Title"] = "Records";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<style>
    .active-btn {
        background-color: lightblue;
        border-radius: 10px
    }

    .record-btn {
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<h1>Records</h1>
@section Head {
    <link href="https://unpkg.com/tabulator-tables@6.3.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.1/dist/js/tabulator.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <style>
        .my-icon-plus {
            color: green;
        }
    </style>
}
@section Scripts {
    <script>
        $(document).ready(async function () {
                    //create Tabulator on DOM element with id "example-table"



        async function fetchJson(url){
               try {
          // 1. Fetch the resource from the network (returns a Response object promise)
          const response = await fetch(url);

          // Check if the request was successful (status code 200-299)
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }

          // 2. Parse the response body as JSON (returns a JavaScript object promise)
          return await response.json();

          // Use the parsed data
          console.log(data);
          // You can now access properties, e.g., data.someProperty

        } catch (error) {
          // Handle network errors or other issues
          console.error('Fetch error:', error);
        }
             }

        async function  createSetTable(){
                 let setStats=  await fetchJson('/api/Cabinet/data/records/set');



                setStats = [...setStats].sort((a, b) => {
          return new Date(b.lastRecordTimestamp).getTime() - new Date(a.lastRecordTimestamp).getTime();
        });
                          // Get the table body and the template
                const tbody = document.querySelector("#set-table tbody");
                const template = document.querySelector("#set-row-template");
                const template_btn1 = document.querySelector("#single-up-button-template");
                const template_btn2 = document.querySelector("#double-up-button-template");

                // Check if the browser supports the template element
                if ('content' in document.createElement('template')) {

                for (const p of setStats) {
                    // Clone the template content (the tr element)
                        const clone = document.importNode(template.content, true);

                        const clone_btn = document.importNode((Boolean(p.doubled)?template_btn2: template_btn1).content, true);
                           clone_btn.querySelector('.top-up-btn').setAttribute('achId', p.id);

                        // Populate the cells with data
                        clone.querySelector('.set-row-name > span:first-of-type').textContent = p.name;
                        clone.querySelector('.set-row-name > a:first-of-type').setAttribute('achId', p.id);

                        clone.querySelector('.set-row-name ').appendChild(clone_btn);

                        clone.querySelector('.set-row-last-date').innerHTML = Boolean(p.hasRecord)?new Date(p.lastRecordTimestamp):'<span>нет данных</span>';
                        clone.querySelector('.set-row-record-date').innerHTML = Boolean(p.hasDate)?new Date(p.date):'<span>нет данных</span>';

                        if(Boolean(p.hasRecord))
                        {
                            if(Boolean(p.isRecord))
                            {
                                 clone.querySelector('.set-row-record').innerHTML = ' <b style="color: blue">рекорд!</b>';
                            }
                            else
                            {
                                clone.querySelector('.set-row-record').innerHTML = p.record;
                            }
                        }
                        else
                        {
                             clone.querySelector('.set-row-record').innerHTML = '<span>нет данных</span>';
                        }


                        if(Boolean(p.isRecord))
                            clone.querySelector('.set-row-current').innerHTML  = `${p.currentSum}`;
                        else
                            clone.querySelector('.set-row-current').innerHTML = `${p.currentSum}<br/> <span>До рекорда: ${p.remainsToRecord}</span>`;


                        // Append the populated row to the table body
                        tbody.appendChild(clone);
                }

                } else {
                    // Fallback for browsers that do not support the template element
                    console.error('HTML template element is not supported');
                }
        }
        async function  createDayTable(){
                 let dayStats=  await fetchJson('/api/Cabinet/data/records/day');

                          // Get the table body and the template
                const tbody = document.querySelector("#day-table tbody");
                const template = document.querySelector("#day-row-template");
                const template_btn1 = document.querySelector("#single-up-button-template");
                const template_btn2 = document.querySelector("#double-up-button-template");

                // Check if the browser supports the template element
                if ('content' in document.createElement('template')) {

                for (const p of dayStats) {
                    // Clone the template content (the tr element)
                        const clone = document.importNode(template.content, true);

                        const clone_btn = document.importNode((Boolean(p.doubled)?template_btn2: template_btn1).content, true);
                           clone_btn.querySelector('.top-up-btn').setAttribute('achId', p.id);

                        // Populate the cells with data
                        clone.querySelector('.day-row-name > span:first-of-type').textContent = p.name;
                        clone.querySelector('.day-row-name > a:first-of-type').setAttribute('achId', p.id);

                        clone.querySelector('.day-row-name ').appendChild(clone_btn);

                        clone.querySelector('.day-row-date').innerHTML = Boolean(p.hasDate)?p.date:'<span>нет данных</span>';
                        clone.querySelector('.day-row-record').textContent = p.record;

                        if(Boolean(p.isRecord))
                            clone.querySelector('.day-row-current').innerHTML  = '<b style="color: blue">рекорд!</b>';
                        else
                            clone.querySelector('.day-row-current').innerHTML = `${p.currentSum}<br/> <span>До рекорда: ${p.remainsToRecord}</span>`;


                        // Append the populated row to the table body
                        tbody.appendChild(clone);
                }

                } else {
                    // Fallback for browsers that do not support the template element
                    console.error('HTML template element is not supported');
                }
        }

        async function  createMonthTable(){
                 let monthStats=  await fetchJson('/api/Cabinet/data/records/month');

                  // Get the table body and the template
        const tbody = document.querySelector("#month-table tbody");
        const template = document.querySelector("#month-row-template");

        // Check if the browser supports the template element
        if ('content' in document.createElement('template')) {

        for (const p of monthStats) {
            // Clone the template content (the tr element)
                const clone = document.importNode(template.content, true);

                // Populate the cells with data
                clone.querySelector('.month-row-name').textContent = p.name;
                clone.querySelector('.month-row-date').textContent = p.date;
                clone.querySelector('.month-row-record').textContent = p.record;

                if(Boolean(p.isRecord))
                    clone.querySelector('.month-row-current').innerHTML  = '<b style="color: blue">рекорд!</b>';
                else
                    clone.querySelector('.month-row-current').innerHTML = `${p.currentSum}<br/> <span>До рекорда: ${p.remainsToRecord}</span>`;


                // Append the populated row to the table body
                tbody.appendChild(clone);
        }

        } else {
            // Fallback for browsers that do not support the template element
            console.error('HTML template element is not supported');
        }
        }

             async function  createWeekTable(){
                 let weekStats=  await fetchJson('/api/Cabinet/data/records/week');

                  // Get the table body and the template
        const tbody = document.querySelector("#week-table tbody");
        const template = document.querySelector("#week-row-template");

        // Check if the browser supports the template element
        if ('content' in document.createElement('template')) {

        for (const p of weekStats) {
            // Clone the template content (the tr element)
                const clone = document.importNode(template.content, true);

                // Populate the cells with data
                clone.querySelector('.week-row-name').textContent = p.name;
                clone.querySelector('.week-row-date').textContent = `${p.startTimestamp} - ${p.endTimestamp}`;
                clone.querySelector('.week-row-record').textContent = p.record;

                if(Boolean(p.isRecord))
                    clone.querySelector('.week-row-current').innerHTML  = '<b style="color: blue">рекорд!</b>';
                else
                    clone.querySelector('.week-row-current').innerHTML = `${p.currentSum}<br/> <span>До рекорда: ${p.remainsToRecord}</span>`;


                // Append the populated row to the table body
                tbody.appendChild(clone);
        }

        } else {
            // Fallback for browsers that do not support the template element
            console.error('HTML template element is not supported');
        }
        }

          async function  createYearTable(){
           let yearStats=  await fetchJson('/api/Cabinet/data/records/year');
                  // Get the table body and the template
        const tbody = document.querySelector("#year-table tbody");
        const template = document.querySelector("#year-row-template");

        // Check if the browser supports the template element
        if ('content' in document.createElement('template')) {

        for (const p of yearStats) {
            // Clone the template content (the tr element)
                const clone = document.importNode(template.content, true);

                // Populate the cells with data
                clone.querySelector('.year-row-name').textContent = p.name;
                clone.querySelector('.year-row-year').textContent = p.year;
                clone.querySelector('.year-row-record').textContent = p.record;

                if(Boolean(p.isRecord))
                    clone.querySelector('.year-row-current').innerHTML  = '<b style="color: blue">рекорд!</b>';
                else
                    clone.querySelector('.year-row-current').innerHTML = `${p.currentSum}<br/> <span>До рекорда: ${p.remainsToRecord}</span>`;


                // Append the populated row to the table body
                tbody.appendChild(clone);
        }

        } else {
            // Fallback for browsers that do not support the template element
            console.error('HTML template element is not supported');
        }
        }
        await createYearTable();
        await createWeekTable();
        await createMonthTable();
        await createDayTable();
        await createSetTable();

           $("#set-table").show();

        function hideAllTables(){
              $("#week-table").hide();
                $("#month-table").hide();
                $("#day-table").hide();
                $("#year-table").hide();
                $("#set-table").hide();
        }
            $("#set-btn").click(function () {
                hideAllTables();
                $("#set-table").show();

                $("#set-btn").addClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
            });

            $("#day-btn").click(function () {
                $("#week-table").hide();
                $("#month-table").hide();
                $("#year-table").hide();
                $("#day-table").show();
                $("#set-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").addClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
            });

            $("#week-btn").click(function () {
                $("#week-table").show();
                $("#month-table").hide();
                $("#day-table").hide();
                $("#set-table").hide();
                $("#year-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").addClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
            });

            $("#month-btn").click(function () {
                $("#week-table").hide();
                $("#month-table").show();
                $("#day-table").hide();
                $("#set-table").hide();
                $("#year-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#year-btn").removeClass("active-btn");
                $("#month-btn").addClass("active-btn");
            });

            $("#year-btn").click(function () {
                $("#week-table").hide();
                $("#year-table").show();
                $("#day-table").hide();
                $("#set-table").hide();
                $("#month-table").hide();

                $("#set-btn").removeClass("active-btn");
                $("#day-btn").removeClass("active-btn");
                $("#week-btn").removeClass("active-btn");
                $("#month-btn").removeClass("active-btn");
                $("#year-btn").addClass("active-btn");
            });

            $('.add-btn').click(function (e) {
                var aid = $(this).attr('achId');
                console.log('aid: ' + aid);
                console.log($(this).parent());
                $(this).parent().children(".hide1-cls").toggle();
                e.preventDefault();
            });

            $('.top-up-ok-btn').click(function (e) {
                const uri = 'api/Default';
                var aid = $(this).attr('achId');
                var val = $(this).parent().children(":input").val();

                let item = {
                    achieveId: parseInt(aid),
                    count: parseInt(val)
                };
                console.log(item);

                $.ajax({
                    type: "POST",
                    url: uri,

                    data: JSON.stringify(item),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //location.reload();
                        window.location.reload(true);
                        //alert(data);
                    },
                    failure: function (errMsg) {
                        //alert(errMsg);
                    }
                });

                e.preventDefault();


            });
            function float2int(value) {
                return value | 0;
            }

            $('.top-up-doubled-ok-btn').click(function (e) {
                const uri = 'api/Default/doubled';
                var aid = $(this).attr('achId');
                var val = $(this).parent().children(":input").val();
                var val2 = $(this).parent().children(".val2").val();


                /*fetch(uri)
                    .then(response => response.json())
                    .then(data => _displayItems(data))
                    .catch(error => console.error('Unable to get items.', error));*/
                let item = {
                    achieveId: parseInt(aid),
                    count: parseInt(val),
                    count2: float2int(parseFloat(val2) * 100)
                };
                console.log(item);

                $.ajax({
                    type: "POST",
                    url: uri,

                    data: JSON.stringify(item),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        //location.reload();
                        window.location.reload(true);
                        //alert(data);
                    },
                    failure: function (errMsg) {
                        //alert(errMsg);
                    }
                });


                e.preventDefault();


            });
            $('.top-up-cancel-btn').click(function (e) {
                $(this).parent().children(".hide1-cls").toggle();
                e.preventDefault();

            });
        });
    </script>
}

<div>
    <h3>Рекорды</h3>


    <a class="active-btn record-btn " id="set-btn" href="#"> Максимальный подоход</a>
    <a class="record-btn " id="day-btn" href="#"> Дневной максимум</a>
    <a class="record-btn " id="week-btn" href="#"> Недельный максимум</a>
    <a class="record-btn " id="month-btn" href="#"> Месячный максимум</a>
    <a class="record-btn " id="year-btn" href="#"> Годовой максимум</a>

    <template id="double-up-button-template">
        <br />
        <input class="hide1-cls val1" type="text" value="0" style="display:none" /><span class="hide1-cls" style="display:none"> reps</span>
        <br />
        <input class="hide1-cls val2" type="text" value="0.00" style="display:none" /><span class="hide1-cls" style="display:none"> kg</span>
        <br />
        <a class="top-up-doubled-ok-btn top-up-btn hide1-cls" achId="achId" href="#" style="display:none">ok</a>
        <a class="top-up-cancel-btn hide1-cls" href="#" style="display:none">cancel</a>
    </template>

    <template id="single-up-button-template">
        <br />
        <input class="hide1-cls" type="text" value="0" style="display:none" />
        <a class="top-up-ok-btn top-up-btn hide1-cls" achId="achId" href="#" style="display:none">ok</a>
        <a class="top-up-cancel-btn hide1-cls" href="#" style="display:none">cancel</a>
    </template>
    @{
        var context = AchieverContextHolder.GetContext();
        var user = Helper.GetUser(HttpContext.Session);

        var usr = context.Users.Find(Helper.GetUser(HttpContext.Session).Id);
    }

    <table id="set-table" style="display:none; border: solid 1px;">
        <tr>
            <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
            <th style=" border: 1px solid black;padding:10px;">Последний подход</th>
            <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
            <th style=" border: 1px solid black;padding:10px;">Сегодня</th>
            <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
        </tr>
    </table>


    <!-- The template for a single row -->
    <template id="set-row-template">
        <tr style=" border: 1px solid black;padding:10px;">
            <td style=" border: 1px solid black;padding:10px;" class="set-row-name">
                <span>item.Name</span>
                <a href="#" achId="item.Id" class="add-btn">
                    <i class="fa-solid fa-circle-plus my-icon-plus"></i>
                    <span style="margin: 5px">добавить</span>
                </a>
            </td>
            <td style=" border: 1px solid black;padding:10px;" class="set-row-last-date"></td>
            <td style=" border: 1px solid black;padding:10px;" class="set-row-record-date"></td>
            <td style=" border: 1px solid black;padding:10px;" class="set-row-current"></td>
            <td style=" border: 1px solid black;padding:10px;" class="set-row-record"></td>

        </tr>
    </template>



    <table id="day-table" style="display:none; border: solid 1px;">
        <tr>
            <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
            <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
            <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
            <th style=" border: 1px solid black;padding:10px;">Сегодня</th>
        </tr>
    </table>


    <!-- The template for a single row -->
    <template id="day-row-template">
        <tr style=" border: 1px solid black;padding:10px;">
            <td style=" border: 1px solid black;padding:10px;" class="day-row-name">
                <span>item.Name</span>
                <a href="#" achId="item.Id" class="add-btn">
                    <i class="fa-solid fa-circle-plus my-icon-plus"></i>
                    <span style="margin: 5px">добавить</span>
                </a>
            </td>
            <td style=" border: 1px solid black;padding:10px;" class="day-row-date"></td>
            <td style=" border: 1px solid black;padding:10px;" class="day-row-record"></td>
            <td style=" border: 1px solid black;padding:10px;" class="day-row-current"></td>

        </tr>
    </template>



    <table id="week-table" style="display:none; border: solid 1px;">
        <tr>
            <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
            <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
            <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
            <th style=" border: 1px solid black;padding:10px;">Эта неделя</th>
        </tr>
    </table>
    <!-- The template for a single row -->
    <template id="week-row-template">
        <tr style=" border: 1px solid black;padding:10px;">
            <td style=" border: 1px solid black;padding:10px;" class="week-row-name"></td>
            <td style=" border: 1px solid black;padding:10px;" class="week-row-date"></td>
            <td style=" border: 1px solid black;padding:10px;" class="week-row-record"></td>
            <td style=" border: 1px solid black;padding:10px;" class="week-row-current"></td>

        </tr>
    </template>


    <table id="month-table" style="display:none; border: solid 1px">
        <tr>
            <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
            <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
            <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
            <th style=" border: 1px solid black;padding:10px;">В этом месяце</th>
        </tr>

    </table>
    <template id="month-row-template">
        <tr style=" border: 1px solid black;padding:10px;">
            <td style=" border: 1px solid black;padding:10px;" class="month-row-name"></td>
            <td style=" border: 1px solid black;padding:10px;" class="month-row-date"></td>
            <td style=" border: 1px solid black;padding:10px;" class="month-row-record"></td>
            <td style=" border: 1px solid black;padding:10px;" class="month-row-current"></td>

        </tr>
    </template>


    <table id="year-table" style="display:none; border: solid 1px">
        <tr>
            <th style=" border: 1px solid black;padding:10px;">Упражнение</th>
            <th style=" border: 1px solid black;padding:10px;">Дата рекорда</th>
            <th style=" border: 1px solid black;padding:10px;">Рекорд</th>
            <th style=" border: 1px solid black;padding:10px;">В этом году</th>
        </tr>

    </table>
    <!-- The template for a single row -->
    <template id="year-row-template">
        <tr style=" border: 1px solid black;padding:10px;">
            <td style=" border: 1px solid black;padding:10px;" class="year-row-name"></td>
            <td style=" border: 1px solid black;padding:10px;" class="year-row-year"></td>
            <td style=" border: 1px solid black;padding:10px;" class="year-row-record"></td>
            <td style=" border: 1px solid black;padding:10px;" class="year-row-current"></td>

        </tr>
    </template>


</div>


